album.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://www.cs.sjsu.edu/cs157b/Album" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cs.sjsu.edu/cs157b/Album">
	<xs:element name="artistName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="id" type="xs:byte"/>
	<xs:element name="album_id" type="xs:byte"/>
	<xs:element name="albumTable">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="album" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="album">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="artistName"/>
				<xs:element ref="album_id"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
